extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    // Custom styles for this template
    link(href='../css/navbar-static-top.css', rel='stylesheet')
block body
    header

    // Would like logo to direct to homepage
    img(src='/logo-olympic.png' width="100" height="50" alt="Image size dimensions")
        
    a(href='https://twitter.com/olympics')
        img(src='/logo-twitter.png' width="24" height="20" alt="Image size dimensions")
    a(href='https://www.facebook.com/olympics')
        img(src='/logo-fb.png' width="20" height="20" alt="Image size dimensions")
    a(href='https://www.youtube.com/user/olympic')
        img(src='/logo-youtube.png' width="28" height="20" alt="Image size dimensions")
    a(href='https://plus.google.com/+Olympics')
        img(src='/logo-google.png' width="20" height="20" alt="Image size dimensions")


    // Static navbar
    +navbar-static("CIS550 Project - Summer Olympic Games","navbar")
        block navbarcontent
    .container
        // Main component for a primary marketing message or call to action
        .jumbotron
            .main-content
                block content
            .sidebar
                block sidebar
    footer.footer
        .container
            p.text-muted CIS550 - Spring 2017 - Group16