body {
    font-family: Roboto;
}

h1 {
    text-align: center;
}

#quiz {
    text-indent: 0px;
    display:none;
}

.button {
    border:1px solid;
    border-radius:3px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #FFFFFF;
    color: black;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: #FFFFFF;
    color: #525252;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: ##FFFFFF;
    border:1px solid  #000000;
    border-radius:5px;
    color: #000000;
    font-weight: normal;
    box-shadow: 5px 5px 5px #888;
}

ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}