// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block navbarcontent

block content
	&nbsp
	&nbsp
	.container
		h2 Results
			&nbsp
			&nbsp
			&nbsp
			p Select the Athlete you are interested in finding more information about
				&nbsp
				&nbsp
				&nbsp
		form(name="Select Athlete", method = "post", action="/athresults")
			input(type='text', name='name')
			input(type='submit', value='Submit')
		if error
			p No athlete with that name
