// Inherits from layout 
extend layout
// Then we produce a form that triggers /person once
// the user hits Submit
block navbarcontent
    +nav_item("/","active") Sample Work
    +nav_item("/") Your Work
    +nav_item("/quiz") Quiz


    p Welcome!
    +navbar("Menu", "dropdown_menu", "inverse")
      +nav_item("/", "active") Home
      +nav_item_dropdown("#")(label="Info on Olympics")
        +nav_item("#") Olympics
        +nav_item("#") Country
        +nav_item("#") Sporting Events
        +nav_item("#") Athletes
        //+nav_divider
        //+nav_header Nav header
        //+nav_item("#") Separated link
      +nav_item("/quiz") Quiz
      +nav_item("/") About
      +nav_item("/reference") Reference
      
block content
  p
    +icon-primary("search")
    |  #{title}:
    form(method='get', action='/')
      input(name='name', value='')
      input(type='submit', value='Submit')