// Inherits from layout 
extends layout
// Then we produce a form that triggers /person once
// the user hits Submit
block navbarcontent

block content
  p
  #myCarousel.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')
          li(data-target='#myCarousel', data-slide-to='3')
      .carousel-inner
          .item.active
              img(src='http://www.jblpro.com/press/august08/JBL_OpeningCeremony.JPG'  height="100" width="1500" align='center')
          .item
              img(src='https://upload.wikimedia.org/wikipedia/commons/8/8e/2000_Summer_Olympics_opening_ceremony_1.JPEG'  height="300" width="1500" align='center')
          .item
              img(src='http://darkroom.baltimoresun.com/wp-content/uploads/2012/07/AFP_Getty-149374426.jpg'  height="300" width="1500" align='center')                     

      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right                         
  // Features
  hr.featureette-divider
  .row.feaaturette
    .container
      .col-md-5
          img.featurette-image.img-responsive(src='https://www.l-tron.com/wp-content/uploads/2016/06/rio-de-janeiro-2016-summer-olympics.png' height="400" width="500" align='center')  
      .col-md-6
          h2.featurette-heading
              | The Summer Olympics. 
              // span.text-muted Something else to say.       
          p.lead
              | Welcome to our site! Here you can access the results, athlete information, cost data, and medal distribution, in our Olympics tab. Take the quiz to test our Olympic trivia, and submit your score. Check out the all the results in the Quiz Results. In the Gold Medals Map, discover the distribution of the medals around the world. Interested in learning more? Hover over to the References page. 
  .row.feaaturette
      .col-md-6
            h2.featurette-heading
                | History of the Summer Olympics.      
            p.lead
                | The modern Olympic Games were founded in 1894 when Pierre de Coubertin sought to promote international understanding through sporting competition. The first edition of the Games were held in 1896, and only attracted 245 competitors. Only 14 countries were represented. At the time, no international events of this magnitude had ever been organized before. Female athletes were not allowed to compete. The Summer Olympic Games continues to bring the world together. 
        .col-md-5
            img.featurette-image.img-responsive(src='http://www.iorise.com/blog/wp-content/uploads/2016/04/2016-04-06_HistoricOlympics_ROW7547855461_1920x1080.jpg' height="400" width="500" align='center') 
  .row    