extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(type='text/css', rel='stylesheet', href='/stylesheets/stylesheet.css')
block body
    header
    // Static navbar
    +navbar-static("HW2 - CIS550","navbar")
        block navbarcontent
    .container
        // Main component for a primary marketing message or call to action
        .jumbotron
            .main-content
                block content
            .sidebar
                block sidebar
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='js/quiz.js')
    footer.footer
        .container
            p.text-muted Running on node with Express, Jade, Bootstrap