// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block navbarcontent

block content
  body
    .container
      script(src='http://d3js.org/d3.v3.min.js')
      script(src='http://d3js.org/topojson.v1.min.js')
      // I recommend you host this file on your own, since this will change without warning
      script(src='/js/map.js')
      | 
      br 
      | 
      br 
      h2 Summer Olympics Gold Map
      | 
      br 
      p Move your curser over a country to see how many gold medals they have won. 
      | 
      br 
      #container1(style='position: relative; width: 80%; max-height: 450px;')
      script.
        var ugh = !{mapresults};
        console.log(ugh);
        //basic map config with custom fills, mercator projection
        var mapArgs = {
        scope: 'world',
        element: document.getElementById('container1'),
        projection: 'mercator',
        height: 500,
        
        fills: {
        defaultFill: 'grey',
        lt50: '#7FDEB0',
        gt50: '#FFB67A'
        },

        geographyConfig: {
            popupTemplate: function(geo, data) {
                return '<div class="hoverinfo"><strong>' + geo.properties.name + ": 5" + "</strong></div>"
            }
        }
        };
        mapArgs.data = !{mapresults};
        console.log(mapArgs.data);
        var map = new Datamap(mapArgs);
      | 
      br 
      | 
      br 
      | 
      br 
      p
        a(href='http://datamaps.github.io/') Interested in DataMap templates?