// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block navbarcontent

block content
	&nbsp
	&nbsp
	.container
		h2 Results
			&nbsp
			&nbsp
			&nbsp
			p Select the Summer Olympics year that you're interested in.
			br
			+dropdown("Summer Olympics",[
			  {text:"London 2012", href:"/olympics"},
			  {text:"Beijing 2008"},
			  {text:"Athens 2004"},
			  {text:"Sydney 2000"}
			]) 


