// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block navbarcontent

block content
  .container
	li.dropdown.btn.btn-default
	  span.glyphicon.glyphicon-th-list
	    |  Summer Olympics
	    span.caret
	  ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
	    li
	      a(href="#") London 2012
	    li 
	      a(href="#") Beijing 2008
	    li 
	      a(href="#") Athens 2004
	    li 
	      a(href="#") Sydney 2000
	    li 
	      a(href="#") Atlanta 1996
	    li 
	      a(href="#") Barcelona 1992	
	    li 
	      a(href="#") Seoul 1988
	    li 
	      a(href="#") Los Angeles 1984
	    li 
	      a(href="#") Moscow 1980 
	    li 
	      a(href="#") Monteal 1976
	    li 
	      a(href="#") Munich 1972
	    li 
	      a(href="#") Mexico 1968
	    li 
	      a(href="#") Tokyo 1964 
	    li 
	      a(href="#") Rome 1960     


