// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block navbarcontent

block content
	&nbsp
	&nbsp
	.container
		h2 Results
			&nbsp
			&nbsp
			&nbsp
			p Select the Summer Olympics year that you're interested in.
			br
			form(action='/olympics' method='get')
				select(name='year')
					option(value='2012') London 2012
					option(value='2008') Beijing 2008
				br
				input(type='submit')
			if results
				p Olympic Information
					table
						tr
							td=results.NAME
							td &nbsp;
							td=results.YEAR
							td &nbsp;
							td=results.POPULATION
							td &nbsp;
							td=results.GDP
							td &nbsp;


