// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block navbarcontent

block content
	.container
		h1 Results
			p Select the Summer Olympics year that you're interested in.
		form(name="Select Olympics", method = "post")
			div.input
				span.label Olympics
				+dropdown("Summer Olympics",[
				 	{text:"London 2012"},
				 	{text:"Beijing 2008"},
				 	{text:"Athens 2004"},
				 	{text:"Sydney 2000"}
				 ]) 


