// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block navbarcontent

block content
	.container
		h1 Results

		table.table.table-hover.table-bordered
			thead
				tr
				+dropdown("Summer Olympics",[
				 	{text:"London 2012"},
				 	{text:"Beijing 2008"},
				 	{text:"Athens 2004"},
				 	{text:"Sydney 2000"}
				 ]) 


