// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block navbarcontent

block content
  .container
      script(type='text/javascript').
          var local_results = !{results};
      #container
        #title
          h1 Summer Olympics Quiz
        br
        #quiz
        #next.button
          a(href='#') Next
        #prev.button
          a(href='#') Prev
        #score.button
          a(href='#') Submit Score
        #start.button
          a(href='#') Start Over
      script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(type='text/javascript', src='/js/quiz.js')