// Inherits from layout 
extend layout

block content
  .container
      +list-group-links([{text:"Reference",url:"#"},
                         {text:"The International Olympic Committee",url:"https://www.olympic.org"},
                         {text:"The Olympics Costs",url:"https://data.world/sports/olympics"},
                         {text:"The Olympics Athletes",url:"http://www.sports-reference.com/olympics/athletes/"},
                         {text:"Summer Olympics Countries",url:"https://knoema.com/tcesjge/summer-olympics-1896-2008"},
                         {text:"Air Quality",url:"http://www.who.int/phe/health_topics/outdoorair/databases/cities/en/"},
                         //{text:"Sporting Events Reference",url:"#"},
                        ],0)
  