// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block navbarcontent
    +nav_item("/") Sample Work
    +nav_item("/") Your Work
    +nav_item("/reference", "active") Reference
block content
  .container
    +list-group-links([{text:"Reference",url:"#"},
                       {text:"Getting Started With Node.js Tutorial",url:"https://blog.risingstack.com/node-hero-tutorial-getting-started-with-node-js/"},
                       {text:"Introduction to JavaScript for Java Programmers",url:"http://www.cs.bham.ac.uk/~pxc/web/infoweb/IW-JavaScript.html"},
                       {text:"Java development 2.0: JavaScript for Java developers",url:"http://www.ibm.com/developerworks/library/j-javadev2-18/"},
                       {text:"Javascript Basics Tutorial",url:"http://www.tutorialspoint.com/javascript/javascript_builtin_functions.htm"},
                       {text:"Felixs Node.js Beginners Guide",url:"http://nodeguide.com/beginner.html"},
                       {text:"Learn Node.js Completely and with Confidence",url:"http://javascriptissexy.com/learn-node-js-completely-and-with-confidence/"},],
                       0)
  br
  br
  .container
  p
    h5 You may use the drop down menu in "Your work".
  form(method="get", action="/person")
    p
      select(name = "name")
        option(value="awest@gmail.com") awest@gmail.com
        option(value="lizashton@yahoo.com") lizashton@yahoo.com
    input(type='submit', value='Submit')