
<html>
	<head>
		<title> How much do you know about the Summer Olympics? </title>
		<link type='text/css' rel ='style' href='style.css'/>
		<link rel="style" type ="text/css"
		href="http://fonts.googleapis.com/css?family=Open Sans"/>
	</head>
	<body>
		<div id="container">
			<div id='title'>
				<h1> Take a Guess </h1>
		</div>
			<br/>
			<div id='Quiz'></div>
			<div class='button' id='next'><a href='#'>next</a></div>
			<div class='button' id='prev'><a href='#'>previous</a></div>
		</div>

		<script type='text/javascript' src ='olympicsquiz.js'></script>
	</body>
</html>

