// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block navbarcontent

block content
  .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    h1.page-header Dashboard
    .table-responsive
      form(method="get", action="/userscore")
      p
      table.table.table-striped
        thead
          tr
            th #User
            th Username
            th Score
        tbody
        - for (var inx = 0; inx < results.length; inx++)
          tr
            td=inx+1
            td=results[inx].username
            td=results[inx].score
            td &nbsp;
      | 
      br 
      | 
      br 
      | 
      br 
      | 
      br 
      | 
      br 
      | 
      br 
      | 
      br 
      | 
      br 
      | 
      br 
      // Put a click button that lets us return to the index page 
      form(method='get', action='/')
          input(type='submit', value='Return')
